:root {
    --primary : #F1EEE9;
    --secondary: #E7DFD2;
    --tertiary: #3F1E1F;
}

* {
    margin:0;
    padding:0;
    font-family: Lora, serif;
    scroll-behavior: smooth;
}


::selection {
    background-color: var(--tertiary);
    color:white;
}

.menu-button {
    position: absolute;
    z-index: 1;
    cursor:pointer;
}

#menu-bg {
    fill: #F1EEE9;
    transition: 0.3s;
}

.menu-button:hover #menu-bg {
    fill: var(--secondary);
}

#fade {
	opacity: 0;
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}

a {
    height:20%;width:200px;
    background-position: center;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
	position: fixed;
	width: 100vw;
	bottom: 0;
	z-index: 2;
}

.banner, #fade {
    height: 96px;;
}

body {
    overflow-x: hidden;
}

.logo {
    width: 25%;
    height: 25%;
    background-image:url('images/logo.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    margin:auto;
}

.hero {
    background-image:url('images/hero.svg');
    background-size: contain;
    background-position: top;
    background-repeat: repeat-x;
    height: 100vh;
    width: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
	position: absolute;
    height: 42px;
    width: 42px;
    stroke:var(--tertiary);
    animation: point 2s infinite;
}

@keyframes point {
    from {
        margin-top: 0;
        opacity:1;
    }
    to {
        margin-top: 64px;
        opacity: 0;
    }
}

#no-border {
    border:none;
}

.text-block {
    padding:80px;
}

.site-link {
    position: absolute;
    top: 60px;
    right: 60px;
    background-image: url('images/site_link.svg');
    background-size:contain;
    background-repeat:no-repeat;
    height:36px;
    width:36px;
}

h1 {
    position: absolute;
    margin:auto;
    color: var(--tertiary);
    font-size: 48px;
}

.title-block {
    height: 400px;
    width: 50%;
    border-radius: 20px;
    border: 1px solid var(--tertiary);
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    flex-shrink: 0;
    flex-grow: 0;
}

.illust {
    height: 150%;
    width: 150%;
    position: relative;
    top: -100px;
    left: -25vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.info-block {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    height: auto;
    width: 50%;
    border-radius: 20px;
    margin: auto ;
    padding: 20px;
}

.block {
    border: 2px solid var(--secondary);
    text-align: center;
    text-justify: center;
    line-height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.block-text {
    text-align: center;
    margin:auto;
    pointer-events:none;
}

.size-chart {
    font-size: 14px;
    font-family: Lora, serif;
    width:50%;
    height: auto;
    margin: auto;
    padding: 20px;
    grid-gap: 40px;
    border: 2px solid var(--secondary);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "s m";
}

.measurements {
    height: auto;
    width: 100%;
    grid-area: m;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas: 
        "men women women"
        "m-s w-s ."
        "m-s w-s w-sm"
        "m-s w-s w-sm"
        "m-m w-s w-sm"
        "m-m w-m w-ml"
        "m-m w-m w-ml"
        "m-l w-l ."
        "m-l w-l ."
        "m-xl w-xl ."
        "m-xl w-xl ."
        "m-xxl w-xxl ."
        "m-xxl w-xxl ."
        "m-xxl w-xxl .";
}

.sizes {
    height: auto;
    width: 100%;
    grid-area: s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(14,1fr);
    grid-template-areas: 
        "us inches"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart";
}

.chart {
    height:auto;
    width:100%;
    box-shadow:0px 0px 0px 2px var(--secondary) inset;
    border-radius: 5px;
    grid-area: chart;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13, 1fr);
}

.title-block, .info-block, .size-chart {
    margin-bottom: 200px;
}