:root {
    --primary : #F1EEE9;
    --secondary: #E7DFD2;
}

* {
    margin:0;
    padding:0;
}

#no-border {
    border:none;
}

.block {
    border: 2px solid var(--secondary);
    text-align: center;
    text-justify: center;
    line-height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.block-text {
    text-align: center;
    margin:auto;
    pointer-events:none;
}

.size-chart {
    font-size: 14px;
    font-family: Lora, serif;
    width:25%;
    height: auto;
    margin: auto;
    padding: 20px;
    grid-gap: 40px;
    border: 2px solid var(--secondary);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "s m";
}

.measurements {
    height: auto;
    width: 100%;
    grid-area: m;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas: 
        "men women women"
        "m-s w-s ."
        "m-s w-s w-sm"
        "m-s w-s w-sm"
        "m-m w-s w-sm"
        "m-m w-m w-ml"
        "m-m w-m w-ml"
        "m-l w-l ."
        "m-l w-l ."
        "m-xl w-xl ."
        "m-xl w-xl ."
        "m-xxl w-xxl ."
        "m-xxl w-xxl ."
        "m-xxl w-xxl .";
}

.sizes {
    height: auto;
    width: 100%;
    grid-area: s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(14,1fr);
    grid-template-areas: 
        "us inches"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart"
        "chart chart";
}

.chart {
    height:auto;
    width:100%;
    box-shadow:0px 0px 0px 2px var(--secondary) inset;
    border-radius: 5px;
    grid-area: chart;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(13, 1fr);
}